@page "/Error404"
@inject NavigationManager NavigationManager

<div class="container">
  <div class="text-center">
    <h2>404 - Oops page not found</h2>
    <img src="images/notFound.jpg" alt="404 image" class="w-50">
  </div>
</div>