@page "/teams"
@using Blazor.Service;
@using Blazor.Dto;
<PageTitle>Teams</PageTitle>

<h1>Teams </h1>
<p>Token Generated: @_tokenDto</p>

@code {
  private string _tokenDto { get; set; }

  protected override async Task OnInitializedAsync()
  {
    TokenService _tokenService = new TokenService();
    TokenDto token = await _tokenService.GetToken();
    _tokenDto = token.Token;
  }
}
